.auth-wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
}

.auth-logo {
    max-width: 50vw;
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-logo img {
    max-width: 100%;
    height: auto; 
}

.auth-form {
    max-width: 50vw;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, rgba(9,193,248,1) 0%, rgba(9,101,178,1) 100%);
}

.auth-form {
    display: flex;
    padding-left: 40px;
}