@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  font-family: 'Open Sans', monospace !important;
  box-sizing: border-box;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


@layer base {
  :root {
    --clr-accent: #4A85F6;
    --clr-error: #D31313;
    --clr-border-gray: #BCBCBC;
    --clr-gray-dark: #757575;
  }
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Для всех браузеров */
input[type="number"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;

  background: none;
  box-shadow: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;

  overflow: auto;
  resize: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: auto;
  min-height: auto;
  max-height: none;
}

.mmrgl-control-container {
  display: none;
}

.mmrgl-map {
  overflow: hidden;
}

.hidrex-modal-slide-in-right {
  animation: hidrex-slide-in-right 0.3s ease forwards;
}

.hidrex-modal-fade-in {
  animation: hidrex-fade-in-center 0.28s ease forwards;
}

.fontPoppins {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-style: semibold;
}


.custom-checkbox {
  @apply appearance-none w-5 h-5 border-0 rounded-md cursor-pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.custom-checkbox:checked {
  background-image: url('./core/UIKit/icon/img/checkbox-checked.svg');
}

.custom-checkbox:not(:checked) {
  background-image: url('./core/UIKit/icon/img/checkbox.svg');
}

.child-th-border-left th {
  padding: 0;
  border-left: 1px solid var(--clr-accent);
  margin-bottom: 10px;
  color: #262626;

  &:first-child {
    border-left: none;
  }
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input.MuiInputBase-input {
  @apply border-2 !border-[#4A85F6] rounded-lg outline-none focus:outline-none !py-2 !px-4;
}

@keyframes hidrex-slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hidrex-fade-in-center {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}